@import "tailwindcss";

.bebas {
    font-family: 'Bebas Neue', sans-serif;
}

.monsterat {
    font-family: 'Monsterat', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}